.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo img {
    margin: 20px;
    height: 5vh;
}
#navigation {
    display:flex;
    justify-content: flex-start;
}
.headerLink {
    padding-right: 20px;
}
/* body {
    background-image: url(./background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
h2 {
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    line-height: 28px;
}
h3 {
    display: inline-block;
    float: none;
    width: 100%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #E76F51;
    text-shadow: 1px 1px #E9C46A;
}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}
a {
    text-decoration: none;
    color: #000;
}
#video {
    margin: 20px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
#video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.overlay {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 5%;
    text-align: left;
}
.overlay h1 {
    text-align: left;
}
.projectHighlights {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
    border-top: solid 3px #E9C46A; 
    border-bottom: solid 3px #E9C46A;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    width: 25%;
    
}
.project img {
    display: flex;
    height: auto;
}
.porject h2 {
    display: flex;
    padding-bottom: 0;
}
.project p {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.fun h2 {
    text-align: left;
    margin: 5px;
}
.fun img {
    display: inline;
    width: 15%;
    height: 15%;
    float: left;
    margin: 5px;
    padding: 0;
    border: 2px black solid;
    background-color: gray;
}
.fun p {
    display: inline; 
    float: left;
    width: 80%;
    padding: 5px;
    margin: 5px;
    text-align: justify;
}
#cv {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#cv h2 {
    display: flex;
    justify-content: center;
}
#cv img {
    display: flex;
    width: 15%;
    margin: 20px;
    border: 2px black solid;
    background-color: gray;
}
#cv p {
    display: flex;
    width: 60%;
    text-align: left;
}
#aboutMe1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #E9C46A;
}
#aboutMe2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #E9C46A;
}
#aboutMe3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #E9C46A;
}
#aboutMe3 p {
    display: flex;
    flex-flow: column wrap;
}
p {
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 24px;
}
#contactImage {
    width: 100%;
}